################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build output directories
/DataAccessLayer/bin/
/DataAccessLayer/obj/
/KE03_INTDEV_SE_2_Base/bin/
/KE03_INTDEV_SE_2_Base/obj/

# SQLite database and WAL files
/KE03_INTDEV_SE_2_Base/MatrixInc.db
/KE03_INTDEV_SE_2_Base/MatrixInc.db-shm
/KE03_INTDEV_SE_2_Base/MatrixInc.db-wal

# Visual Studio
/.vs
/.vscode
*.user
*.sln.iml

# IDE
.idea/
*.suo
*.vcxproj.user
